.App {
  text-align: center;
}

table,tr,td,th{
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 20px;
  margin: 50px auto;
}
table,thead,tr{
  color: rgb(73, 194, 73);
}

button{
  background: #fff;
  padding: 4px;
  width: 80px;
  border: 2px solid rgb(73, 194, 73);
  margin: 10px;
}

/* .googlemap{
  height: 200px;
  width: 100px;
} */
td:first-of-type,td:first-of-type > div{
  height: 200px;
  width: 250px;
}


